/*Selector {
	Property: value;
}*/

/* Fallback Color pink*/
body {
	background: url(pink_diamond_background.jpg) pink;
	background-size: 250px 480px;
}


/*
body {
	background: pink;
}*/

.club_name {
	text-align: center;
	font-style: bold;
}

.d-block {
	height: 600px;	
}


