/*Selector {
	Property: value;
}*/

/* Fallback Color pink*/
body {
	background: url(pink_diamond_background.jpg) pink;
	background-size: 250px 480px;
}


/*
body {
	background: pink;
}*/

#club-name {
	text-align: center;
	font-style: bold;
	font-family: 'Playfair Display', serif;
	font-size: 100px;
}

.synchro_club {
	text-align: center;
	font-style: bold;
	font-family: 'Mr Dafoe', cursive;
	font-size: 1.1em;
}

.d-block {
	height: 500px;	
}


