/*Selector {
	Property: value;
}*/

/*General*/
.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255,105,180,0.15);
}

.flex-container > div {
  background-color: rgba(0,0,255,0.25);
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

/*pointer will show on all clickable components*/
button {
	cursor: pointer;
}


/* Fallback Color pink
body {
	background: url(angle_fish.jpg) pink;
	background-size: cover;
}*/

/*
img {
	float: right;
}*/


/*
body {
	background: pink;
}*/

/*Navigation Bar*/

.nav-link {
	color: rgba(255,105,180,1);
	font-weight: 900;
}

#myTab {
	color: rgba(255,105,180,1);
	font-weight: 900;
	outline: 2px solid #F52C5B;
	outline-offset: 1px;
}

#myTabContent {
	color: rgba(255,105,180,1);
	font-weight: 900;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	outline: 2px solid #F52C5B;
	outline-offset: 1px;
}


/*Picture Carousel*/

}

#carouselExampleIndicators {
	outline: 2px solid #F52C5B;
	outline-offset: 1px;
}

p  {
	/*hot pink*/
	color: rgba(255,105,180,1);
	font-size: 1em;
	font-weight: 450;
	font-family: 'Playfair Display', serif;
}

h5  {
	/*hot pink*/
	color: rgba(255,105,180,1);
	font-size: 1em;
	font-weight: 900;
	font-family: 'Playfair Display', serif;
}

.d-block {
	height: 500px;	
}


/*Club Name & Logo*/

#club-name {
	text-align: center;
	font-style: bold;
	font-family: 'Playfair Display', serif;
	font-size: 100px;
	/*hot pink*/
	color: rgba(255,105,180,1);
	font-weight: 900;
	/*maintains the same position on the page*/
	outline: 2px solid #F52C5B;
	outline-offset: 1px;
}

.club-name-right{
	position: absolute;
	right: 0px;
	bottom: 250px;
	z-index: -1;

}

.club-name-left{
	position: absolute;
	left: 0px;
	bottom: 250px;
	z-index: -1;
}



.synchro_club {
	text-align: center;
	font-style: bold;
	font-family: 'Mr Dafoe', cursive;
	font-size: 0.50em;
	/*
	outline: 2px solid #F52C5B;
	outline-offset: 1px;*/
	/*hot pink*/
	color: rgba(255,105,180,1);
	font-weight: 900;	

	
.program_image {
	float: right;
	}



